@import "tailwindcss";

:root {
  --background: #0a0000;
  --foreground: #f3f4f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: #d4af37;
  --color-gold-light: #fbbf24;
  --color-dark-red: #450a0a;
  --color-deep-red: #2b0606;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  background-image: radial-gradient(circle at top, var(--color-dark-red) 0%, var(--background) 70%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
